.gradle
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries
local.properties
PactrackDroid.iml
PactrackDroid.iws
build
app/build
.DS_Store
Thumbs.db
captures
market-stuff
app/src/main/res/values/postnord_consumerid.xml