<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (C) 2009 Joakim Andersson
 * 
 * This file is part of PactrackDroid, an Android application to keep
 * track of parcels sent with the Swedish mail service (Posten).
 * 
 * PactrackDroid is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 * PactrackDroid is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="nu.firetech.android.pactrack" android:versionName="1.2" android:versionCode="1200">
	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<meta-data android:name="com.a0soft.gphone.aTrackDog.webURL"
			android:value="http://firetech.nu/pactrackdroid" />

		<activity android:label="@string/app_name" android:name=".frontend.PactrackDroid">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:label="@string/app_name" android:name=".frontend.ParcelView" />
		<activity android:label="@string/app_name" android:name=".frontend.ConfigView" />
		<receiver android:name=".backend.ServiceStarter">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
				<action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" />
			</intent-filter>
		</receiver>
		<service android:name=".backend.ParcelService"/>
	</application>
	<uses-sdk android:minSdkVersion="3"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest> 
